/*Table Header*/
.idPHNo {
    font-size: 18px !important;
}

/*Rows*/
.jfrgbA {
    font-size: 16px !important;
}

/*Table*/
.bnAwAJ {
    background-color: #F8F9F8 !important;
}

/*Pagination Selector*/
.jxflYm {
    background-color: #F8F9F8 !important;
    font-size: 16px !important;
}

/*No Records Display*/
.fwKvpK {
    background-color: #F8F9F8 !important;
    font-size: 20px !important;
}

.view-alert-link {
    color: #0E9594;
    font-size: 16px;
    font-weight: 500;
    padding-left: 15px;
}

.view-alert-link:hover {
    color: #0b7575;
}